* {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.bg {
  background: url("pexels-francesco-ungaro-1525041.jpg");
  background-size: 160%;
  background-position:center;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px); /*vw-- view port*/
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
}
.loading-text {
  font-size: 50%;
  color: white;
}
